# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
.cache/

einhf/__pycache__
einhf/CMakeFiles
einhf/cmake_install.cmake
einhf/CMakeCache.txt
einhf/*.so
einhf/*.log
einhf/*.out
einhf/output.dat
einhf/output.log
einhf/Makefile
einhf/timer.dat
./timer.dat
timer.dat
einhf/output2.dat
.vscode/settings.json
einhf/output-diis.dat
einks/cmake_install.cmake
einks/CMakeCache.txt
einks/Makefile
einks/output.dat
einks/output.log
einks/__pycache__/*
einks/CMakeFiles/*
*.clean
einhf/valgrind.txt
